{% load  static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

 <link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
 

</head>

<body style="background-color:#1E1E1E;">
  <hr style=" border-top: 2px solid lavender ;">
<br>



  <a href="http://127.0.0.1:8000/productcart"><button>Products</button></a>
   <a href="http://127.0.0.1:8000/services"><button>Services</button></a>
   <a href="http://127.0.0.1:8000/account"><button>Sign-up</button></a>
   <a href="http://127.0.0.1:8000/loginuser"><button>Login</button></a>
  <a href="http://127.0.0.1:8000/signup"><button class="b">Register-Today</button></a> 
 <br>
 <br>
 <br>
 
    <h1 style="font-family:Ubuntu;text-align: center;font-size: 60px;">Welcome To Avid hive Smarthomes and Security Solutions </h1>
    <h3 style="font-family:Ubuntu;text-align: center;font-size: 30px;">Best Tech-Best Future</h3>
    
 
 <br>
 <br>
 <br>
  <center>
    <div class="boxes">
      <div class="counter">
        <h3 data-target="10000" class="count">0</h3>
      
        <br>
        <br>
        <h2 style="font-size:33px;">Successful Projects done</h2>
    </div>
  </center>
    
    <div class="boxes1">
      <div class="counter">
        <h3 data-target="50000" class="count">0</h3>
         <br>
         <br>
          <h2 style="font-size: 33px;">Satisfied Customers</h2>
        </div>
      </div>

     <div class="boxes1">
      <div class="counter">
        <h3 data-target="1000" class="count">0</h3>
         
         <br>
         <br>
          <h2 style="font-size: 33px;">Branches all over World</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
       <div class="j">
        <h2 class="k">About the Company and Technologies</h2>
        <p style="color:snow;font-size:20px;margin-left: 30px;font-family: cambria;line-height: 200%;">
          We Avid hive smart homes and security servcies, Started in the year <strong>2015</strong> with five members.our founder <strong>Mr.Prasanna kumar.P</strong> has been looking forward to introduce the rapidly growing technologies in the current world.which is going to be very effective and highly security technologies in our day to day life..Currently we are implementing for both Domestic and commerical purposes. we use trending technology called as IoT stands for internet of things. Most simply, it refers to physical objects linked through wired and wireless networks. More specifically, it refers to the collection of internet-connected devices that are able to communicate autonomously over the internet, without needing a person to initiate the communication. 
        </p>
        <br>
        <h2 class="k">Our Goals and mission</h2>
        <ul style="color:snow;font-size: 20px; line-height: 200%;">
          <li style="font-family: cambria;">To provide quality of service to all the customers </li>
          <li style="font-family: cambria;">To maintain the customer intergerity</li>
          <li style="font-family:cambria;">To provide clear plan and technology to the customers 
          </li>
          <li style="font-family:cambria;">To make the resoruce and support availblity to all customers</li>
        </ul>

       </div>

      <div class="m">

      <h1 style="font-family:cambria;color: snow;">Our Brand Partners:</h1>

      <marquee behavior="scroll" direction="left" >

    <img src= "{% static 'styles/images/amazonlogo.jpg' %}" width="125" height="80" style="margin-right: 50px;" />
    <img src="{% static 'styles/images/essl.jpg' %}" width="125" height="80" style="margin-right: 50px;"/>
    <img src="{% static 'styles/images/algo.jpg' %}" width="125" height="80" style="margin-right: 50px;"/>
    <img src="{% static 'styles/images/cpplus.jpg' %}" width="125" height="80"style="margin-right: 50px;" />
    <img src="{% static 'styles/images/Hikvision.jpg' %}" width="125" height="80"style="margin-right: 50px;" />
    <img src="{% static 'styles/images/altiux.jpg' %}" width="125" height="80"style="margin-right: 50px;" />
    <img src="{% static 'styles/images/Redmi.jpg' %}" width="125" height="80"style="margin-right: 50px;" />
    <img src= "{% static 'styles/images/logitech.jpg' %}"width="125" height="80"style="margin-right: 50px;" />
    <img src= "{% static 'styles/images/philips.jpg' %}"width="125" height="80"style="margin-right: 50px;" />
     <img src= "{% static 'styles/images/syska.jpg' %}"width="125" height="80"style="margin-right: 50px;" />
    </marquee>
   </div>


  


<div class="footer" >

  <div class="l">
    <h2 style="font-family:cambria;color: snow;font-size: 25px;">Enquire today </h2>
    <i class="material-icons" style="font-size: 30px;color:snow;">south</i>
    <i class="material-icons" style="font-size: 30px;color:snow;">south</i>
    <i class="material-icons" style="font-size: 30px;color:snow;">south</i>
    <i class="material-icons" style="font-size: 30px;color:snow;">south</i>
    <i class="material-icons" style="font-size: 30px;color:snow;">south</i>
     <br>
     <br>
    <a href="http://127.0.0.1:8000/signup"><button class="buttonfooter">Enqiure Now</button></a>
  </div>




  <div class="h">

  <h2 style="font-size:25px;color: snow;">Contact us</h2>
  <hr style="color: snow;width: 200px;">
  <br>
  <i class="material-icons" style="font-size: 30px;color:snow;">place</i>
  &nbsp;
  <a href="www.google.com" style="font-size:20px;color:snow;text-decoration: none;">Locate me...</a>
  <br>
  <br>
 <i class="material-icons" style="font-size:30px;color: snow; ">whatsapp</i>
 &nbsp;
 <a href="www.whatsapp.com" style="font-size:20px;color:snow;text-decoration: none;">+91 98356 01234</a>
 <br>
 <br>
  <i class="material-icons" style="font-size:30px;color: snow;">facebook</i>
  &nbsp;
  <a href="www.facebook.com" style="font-size:20px;color:snow;text-decoration: none;">Avid_hive</a>
  <br><br>
  <i class="material-icons" style="font-size:30px;color: snow;">mail</i>
  &nbsp;
<a href="www.gmail.com" style="font-size:20px;color:snow;text-decoration: none;">Avidhive@gamil.com</a>
</div>


  <div class="i">
  <h2 style="font-size:30px;color:snow;text-align: center;">Overview</h2>
  <hr style="color: snow;width: 200px;">
  
  
    <center>
    
     <a href="http://127.0.0.1:8000/productcart" class="li1">
      Products
    </a>
     <br>
     <br>
      <a href="http://127.0.0.1:8000/services" class="li1">
        Services
      </a>
      <br>
      <br>
      <a href="http://127.0.0.1:8000/signup" class="li1">Register-Today</a>
      <br>
      <br>
      <a href="http://127.0.0.1:8000/account" class="li1">Sign-up</a>
      <br>
      <br>
      <a href="http://127.0.0.1:8000/loginuser" class="li1">Login</a>
    </center>
   
  </div>
</div>


</div>


<script>
      const counters = document.querySelectorAll(".count");
const speed = 200;

counters.forEach((counter) => {
  const updateCount = () => {
    const target = parseInt(+counter.getAttribute("data-target"));
    const count = parseInt(+counter.innerText);
    const increment = Math.trunc(target / speed);
    console.log(increment);

    if (count < target) {
      counter.innerText = count + increment;
      setTimeout(updateCount, 1);
    } else {
      count.innerText = target;
    }
  };
  updateCount();
});

  </script>
        

</body>
</html>