{% load  static %}


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="{% static 'styles/services.css' %}">
</head>


<body>

	<div class="heading">
	<center><h1 class="a">Services Offered</h1></center>
	<br>
	<br>
	<div class="b">
	<h2 class="k">Security services</h2>
	

	<br>
	<br>
	<br>

	<div class="boxes">
  <div class="e"><p class="c">Package #1</p></div>
	<ul class="d">
		<li>5+1 IP cameras</li>
		<li>NVR with 1TB HDD</li>
		<li>Twisted pair cables</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes1">
		<div class="e"><p class="c">Package #2</p></div>
		<ul class="d">
		<li>7+1 IP Cameras</li>
		<li>NVR with 2TB HDD</li>
		<li>Twisted pair cables</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes2">
		<div class="e"><p class="c">Package #3</p></div>
		<ul class="d">
		<li>9+1 IP Cameras</li>
		<li>NVR with 4TB HDD</li>
		<li>Twisted pair cables</li>
		<li>Wifi-Router</li>
	</ul>
	</div>
	
	<br>
	<br>
	<br>

	<div class="boxes" style="margin-top: 50px;">
  <div class="e"><p class="c">Package #4</p></div>
	<ul class="d">
		<li>5+1 IP cameras</li>
		<li>NVR with 1TB HDD</li>
		<li>Buglar Alarm</li>
		<li>Twisted pair cables</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes1" style="margin-top:50px;">
		<div class="e"><p class="c">Package #5</p></div>
		<ul class="d">
		<li>7+1 IP Cameras</li>
		<li>NVR with 2TB HDD</li>
		<li>Twisted pair cables</li>
		<li>Fire&Buglar Alarm</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes2" style="margin-top:50px;">
		<div class="e"><p class="c">Package #6</p></div>
		<ul class="d">
		<li>9+1 IP Cameras</li>
		<li>Remote Door locker</li>
		<li>Biometric locks</li>
		<li>NVR with 4TB HDD</li>
		<li>Twisted pair cables</li>
    <li>Wifi-Router</li>
	</ul>
	</div>
	</div>
	</div>	

<br>
<br>
<br>

<div class="i">
	<h2 class="k">Smarthome services</h2>
	

	<br>
	<br>
	<br>

	<div class="boxes">
  <div class="e"><p class="c">Package #1</p></div>
	<ul class="d">
		<li>4+1 13vlts LED lamp</li>
		<li>3+1 7vlts Tail lamps</li>
		<li>2 LED tubelight</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes1">
		<div class="e"><p class="c">Package #2</p></div>
		<ul class="d">
		<li>7+1 13vlts LED lamps</li>
		<li>7+1 10vlts LED lamps</li>
		<li>3+1 LED tubelights</li>
		<li>Wifi-Router</li>
	</ul>
	</div>

	<div class="boxes2">
		<div class="e"><p class="c">Package #3</p></div>
		<ul class="d">
		<li>4+1 13vlts LED lamp</li>
		<li>3+1 7vlts Tail lamps</li>
		<li>Smart tv 32inch</li>
		<li>sound bar speakers</li>
		<li>Wifi-Router</li>
	</ul>
	</div>
	
	<br>
	<br>
	<br>

	<div class="boxes" style="margin-top: 50px;">
  <div class="e"><p class="c">Package #4</p></div>
	<ul class="d">
		<li>7+1 13vlts LED lamps</li>
		<li>7+1 7vlts Tail lamps</li>
		<li>Smart-tv 45inch</li>
		<li>Smart coffeemaker</li>
		<li>Smart waterheater</li>
	</ul>
	</div>

	<div class="boxes1" style="margin-top:50px;">
		<div class="e"><p class="c">Package #5</p></div>
		<ul class="d">
		<li>9+1 13vlts LED lamps</li>
		<li>7+1 7vlts Tail lamps</li>
		<li>Smart-tv 55inch</li>
		<li>Smart Cooker</li>
		<li>wifi-router</li>
	</ul>
	</div>

	<div class="boxes2" style="margin-top:50px;">
		<div class="e"><p class="c">Package #6</p></div>
		<ul class="d">
		<li>9+1 15vlts LED lamps</li>
		<li>Smart-tv 55inches</li>
		<li>5 LED tubelights </li>
		<li>smart-fridge</li>
		<li>smart-oven</li>
    <li>smart-Cooker</li>
	</ul>
	</div>
	</div>
</div>

</body>
</html>